:root{
    --darkGray:#313236;
    --lightGray: #575757;
    --white: #BABABA;
    --lightGreen: #72B01D;
    --darkGreen: #326C15;
}

p{
    color: var(--darkGreen);
}

body{
    background-color: var(--lightGray);
    margin: 0;
}

header{
    background-color: var(--darkGray);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    position: sticky;
    overflow: hidden;
    top: 0;
}

.header-title{
    display: flex;
}

nav{
    display: flex;
    flex: .75;
    margin: 0;
}

nav a{
    color: #72B01D;
    display: block;
    padding: auto;
    font-size: 3em;
    margin: auto;
    text-align: center;
}

.nav-image{
    padding: 10px;
    height: 100px;
}

header ul{
    height: 100%;
    width: 100%;
    display: flex;
    list-style-type: none;
    padding: 0%;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
}

nav li{
    padding: auto;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    text-align: center;
    display: flex;
}

.current-page{
    background-color: var(--darkGreen);
}

h1{
    color: var(--lightGreen);
    font-size: 3em;
}

h2{
    background-color: var(--darkGray);
    color: var(--lightGreen);
    padding: 5px;
    padding-left: 30px;
    font-size: 2em;
}

h3{
    color: var(--darkGreen);
}

section{
    background-color: var(--white);
    margin: 50px;
}

.blog-section{
    display: flex;
}

.blog-img{
    border: solid 4px var(--darkGray);
}

.blog-img img{
    max-width: 200px;
    height: auto;
}

.blog-content{
    flex: 1;
    border-bottom: solid 4px var(--darkGray);
    border-right: solid 4px var(--darkGray);
}

time{
    color: var(--darkGreen);
}

.blog-header{
    padding-bottom: 10px;
}

.blog-content .blog-header{
    border-top: solid 4px var(--darkGray);  
    border-bottom: solid 4px var(--darkGray);
    margin: 0   ;
}

.blog-header h3{
    font-size: 2em;
    margin: 20px;
}

.blog-content p, h3, time{
    margin-left: 20px;
}

time{
    margin-bottom: 10px;
}

.blog-content p{
    height: auto;
}

.project-content{
    display: flex;
}

.img-button{
    padding-bottom: 20px;
}

.thumbnail{
    max-width: 250px;
    height: auto;
    margin: 10px;
    margin-top: 0px;
    display: block;
}

.play-button{
    display: block;
    max-width: 150px;
    height: auto;
    margin: auto;
}

.project-images{
    display: flex;
    justify-content: space-evenly;
}

.project-images img{
    max-width: 400px;
    height: auto;
}

.homepage-blog{
    display: flex;
}

.homepage-blog img{
    max-width: 100px;
    height: auto;
}