:root{
    --darkGray:#313236;
    --lightGray: #575757;
    --white: #BABABA;
    --lightGreen: #72B01D;
    --darkGreen: #326C15;
}

body{
    background-color: var(--lightGray);
    margin: 0;
}

header{
    background-color: var(--darkGray);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    position: sticky;
    overflow: hidden;
    top: 0;
}

.header-title{
    display: flex;
}

nav{
    display: flex;
    flex: .75;
    margin: 0;
}

nav a{
    color: #72B01D;
    display: block;
    padding: auto;
    font-size: 3em;
    margin: auto;
    text-align: center;
}

.nav-image{
    padding: 10px;
    height: 100px;
}

header ul{
    height: 100%;
    width: 100%;
    display: flex;
    list-style-type: none;
    padding: 0%;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
}

nav li{
    padding: auto;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    text-align: center;
    display: flex;
}

.current-page{
    background-color: var(--darkGreen);
}

h1{
    color: var(--lightGreen);
    font-size: 3em;
}

h2{
    background-color: var(--darkGray);
    color: var(--lightGreen);
    padding: 5px;
    padding-left: 30px;
    font-size: 2em;
}

section{
    background-color: var(--white);
    margin: 50px;
}
